# Python
venv/
code/__pycache__/

# IDE
.vscode/

# Binaries and Large files
code/cloudflared.deb
code/models/
# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*
code/.env

# Logs
*.log

# Temporary files
*.tmp
*.bak
#file test
code/test_out.txt

code/test/models/
code/test/__pycache__/
*.onnx